.monospace {
  font-family: "Lucida Console", Monaco, monospace;
}
.footer {
  border-top: 1px solid #e5e5e5;
  color: #777;
  padding: 10px 0 0 0;
  margin-top: 30px;
  font-size: .9em;
}
.beta {
  font-weight: normal;
  font-size: .4em;
}
@media (min-width: 768px) { 
  .form-group-input{
    width: 80%
  }
}
.help-block-sm {
  font-size: .8em;
}
.row-info {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
}